bin/styles/*.dat
bin/*.lvl
bin/*.nxp
bin/*.ini
bin/*.nxsv
bin/*.png
bin/*.bmp
!bin/gfx/*.png
!bin/styles/*.png
bin/packs/*
!bin/gfx/sprites/imgspander.exe
instructions.txt
*.~*
*.dcu
*.exe
*.zip
*.arc
*.rc
!lemdata.res
lemsounds.res
!LemResourceBuilder.exe
Data/lemdata_Original.RES
